/* ==========================================================================
   Tiles
   ========================================================================== */

.tile {
  @include outer-container;
  margin-bottom: 1%;//改为相对值 modified by liqiang&leitao 2019/07/08
  //margin-bottom: $gutter;
  //进行媒体查询“手机”，修改页面整体布局   modified by liqiang&leitao 2019/07/05
  @include media($micro) {
    float: left;
    display: block;
    margin-right: 2%;
    width: 90%;
    margin-bottom: 2.5%;
  }
  //进行媒体查询“ipad”，修改页面整体布局   modified by liqiang&leitao 2019/07/08
  @include media(new-breakpoint(min-width em(480) max-width em(1280)12)) {
    float: left;
    display: block;
    margin-right: 2%;
    width: 90%;
    margin-bottom: 1%;
  }
  @include media($large) {
    @include span-columns(15);
    @include omega(4n);
  }
  .entry-date {
    @include font-size(16,no);
    color: lighten($text-color,25);
  }
  .post-title {
    @include font-size(23,no);
  }
  .post-title :hover{
    background: #464646;
    color: #f1f1f1;
  }
  .post-title111 {
    width: 500px;
    float: left;
  }
  .post-excerpt {
    
    @include font-size(18);
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: Arial;
    overflow: hidden;
  }
  .post-excerpt_ {
    //媒体查询，修改页面显示字体大小 modified by liqiang&leitao 2019/07/05
    @include media($micro) {
      font-size:1.1em; 
      line-height: 7vw;
    }
    //进行媒体查询“ipad”，修改页面整体布局   modified by liqiang&leitao 2019/07/08
    @include media(new-breakpoint(min-width em(480) max-width em(1280) 12)) {
      font-size:1.2em;
      line-height: 4vw;
    }
    @include font-size(20);
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
		vertical-align: top;
		font-size: 1.0375vw;
		line-height: 1.85vw;
		font-family: Arial;
  }
  .newtitle_newnews{
    font-size: 1.1375vw;
  }
  .newtitle{
    font-size: 2.08vw;
    display: inline;
    font-weight:300;
    font-family: "Source Code Pro";
  }
  .newnews{
    margin-bottom: 2.85vw;
  }
  .nullborder{
    height: 0.208vw;
    width: 1.5625vw;
    background: #ffb900;
  }
  .post-teaser {
    position: relative;
    display: block;
    &:after {
      content: '';
      position: absolute;
      width:  37%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($base-color,0);
      pointer-events: none;
      @include transition(background 0.3s);
    }
    // &:hover {
    //   &:after {
    //     background: rgba($base-color,0.2);
    //   }
    // }
  }
}

// 为适应reserch页面在手机、ipad的显示，新增样式tile_post
// modified by liqiang&leitao 2019/07/08
.tile_post {
  @include outer-container;
  margin-bottom: 1%;//改为相对值 modified by liqiang&leitao 2019/07/08
  //margin-bottom: $gutter;
  //进行媒体查询“手机”，修改页面整体布局   modified by liqiang&leitao 2019/07/05
  @include media($micro) {
    float: left;
    display: block;
    margin-right: 2%;
    width: 100%;
    margin-bottom: 2.5%;
  }
  //进行媒体查询“ipad”，修改页面整体布局   modified by liqiang&leitao 2019/07/08
  @include media(new-breakpoint(min-width em(480) max-width em(1280)12)) {
    float: left;
    display: block;
    margin-right: 2%;
    width: 100%;
    margin-bottom: 1%;
  }
  @include media($large) {
    @include span-columns(15);
    @include omega(4n);
  }
  .entry-date {
    @include font-size(16,no);
    color: lighten($text-color,25);
  }
  .post-title {
    @include font-size(23,no);
  }
  .post-title :hover{
    background: #464646;
    color: #f1f1f1;
  }
  .post-title111 {
    @include media($micro) {
      width: 100%;
      float: left;
    }
    @include media(new-breakpoint(min-width em(480) max-width em(1280)12)) {
      width: 45%;
      float: left;
    }
    @include media($large) {
      width:500px;
      float:left;
    }
    
  }
  .post-title112 {
    @include media($micro) {
      width: 100%;
      float: left;
    }
    @include media(new-breakpoint(min-width em(480) max-width em(1280)12)) {
      width: 50%;
      float: right;
    }
    @include media($large) {
      width:500px;
      float:left;
    }
    
  }
  .post-excerpt {
    
    @include font-size(18);
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: Arial;
    overflow: hidden;
  }
  .post-excerpt_ {
    //媒体查询，修改页面显示字体大小 modified by liqiang&leitao 2019/07/05
    @include media($micro) {
      font-size:1.2em;
      line-height: 7vw;
    }
    //进行媒体查询“ipad”，修改页面整体布局   modified by liqiang&leitao 2019/07/08
    @include media(new-breakpoint(min-width em(480) max-width em(1280) 12)) {
      font-size:1.2em;
      line-height: 4vw;
    }
    @include font-size(20);
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
		vertical-align: top;
		font-size: 1.0375vw;
		line-height: 1.85vw;
		font-family: Arial;
  }
  .newtitle_newnews{
    font-size: 1.1375vw;
  }
  .newtitle{
    font-size: 2.08vw;
    display: inline;
    font-weight:300;
    font-family: "Source Code Pro";
  }
  .newnews{
    margin-bottom: 2.85vw;
  }
  .nullborder{
    height: 0.208vw;
    width: 1.5625vw;
    background: #ffb900;
  }
  
  .post-teaser {
    position: relative;
    display: block;
    &:after {
      content: '';
      position: absolute;
      width:  37%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($base-color,0);
      pointer-events: none;
      @include transition(background 0.3s);
    }
    // &:hover {
    //   &:after {
    //     background: rgba($base-color,0.2);
    //   }
    // }
  }
}

.newtitle{
  font-size: 1.08vw;
  display: inline;
  font-weight:300;
  font-family: "Source Code Pro";
 
}
.newnews{
  margin-bottom: 2.85vw;
  
}
.nullborder{
  height: 0.208vw;
  width: 1.5625vw;
  background: #ffb900;
}
