/* ==========================================================================
   Tiles
   ========================================================================== */

.tile {
  @include outer-container;
  
  margin-bottom: 10px;
  //margin-bottom: $gutter;
  @include media($micro) {
    @include fill-parent;
  }
  @include media(new-breakpoint(min-width em(480) 12)) {
    @include span-columns(15);
    @include omega(4n);
  }
  .entry-date {
    @include font-size(16,no);
    color: lighten($text-color,25);
  }
  .post-title {
    @include font-size(23,no);
  }
  .post-title :hover{
    background: #464646;
    color: #f1f1f1;
  }
  .post-title111 {
    width:500px;
    float:left;
  }
  .post-excerpt {
    @include font-size(18);
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: Arial;
    overflow: hidden;
  }
  .post-excerpt_ {
    @include font-size(20);
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
		vertical-align: top;
		font-size: 0.8375vw;
		line-height: 1.85vw;
		font-family: Arial;
  }
  .newtitle{
    font-size: 2.08vw;
    display: inline;
    font-weight:300;
    font-family: "Source Code Pro";
  }
  .newnews{
    margin-bottom: 2.85vw;
  }
  .nullborder{
    height: 0.208vw;
    width: 1.5625vw;
    background: #ffb900;
  }
  
  .post-teaser {
    position: relative;
    display: block;
    &:after {
      content: '';
      position: absolute;
      width:  37%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($base-color,0);
      pointer-events: none;
      @include transition(background 0.3s);
    }
    // &:hover {
    //   &:after {
    //     background: rgba($base-color,0.2);
    //   }
    // }
  }
}

.newtitle{
  font-size: 1.08vw;
  display: inline;
  font-weight:300;
  font-family: "Source Code Pro";
 
}
.newnews{
  margin-bottom: 2.85vw;
  
}
.nullborder{
  height: 0.208vw;
  width: 1.5625vw;
  background: #ffb900;
}
